<rd-widget>
  <rd-widget-header icon="fa-users" title-text="Access management"></rd-widget-header>
  <rd-widget-body>
    <form class="form-horizontal">
      <div class="small text-muted">
        <p>你可以选择授权哪些用户或者组可以访问该资源 {{ $ctrl.entityType }} ，只需要将他们移动到访问授权列表。 只需要点击下用户或者团建就可以进行授权。</p>
        <p ng-if="$ctrl.inheritFrom">
          <b>注意</b>: 标记为 <code>inherited</code> 表示授权是从组继承过来的，无法在末端进行删除。
        </p>
      </div>
      <div class="form-group" style="margin-top: 20px;">
        <!-- available-endpoints -->
        <div class="col-sm-6">
          <div class="text-center small text-muted">用户和组</div>
          <div class="text-center small text-muted" style="margin-top: 5px;">
            <button class="btn btn-primary btn-sm" ng-click="$ctrl.authorizeAllAccesses()" ng-disabled="$ctrl.accesses.length ===  0"><i class="fa fa-user-plus space-right" aria-hidden="true"></i>全部授权</button>
          </div>
          <div style="margin-top: 10px;">
            <access-table
              dataset="$ctrl.accesses"
              entry-click="$ctrl.authorizeAccess"
              empty-dataset-message="No user or team available"
            ></access-table>
          </div>
        </div>
        <!-- !available-endpoints -->
        <!-- associated-endpoints -->
        <div class="col-sm-6">
          <div class="text-center small text-muted">授权的用户和组</div>
          <div class="text-center small text-muted" style="margin-top: 5px;">
            <button class="btn btn-primary btn-sm" ng-click="$ctrl.unauthorizeAllAccesses()" ng-disabled="$ctrl.authorizedAccesses.length ===  0"><i class="fa fa-user-times space-right" aria-hidden="true"></i>全部拒绝</button>
          </div>
          <div style="margin-top: 10px;">
            <access-table
              dataset="$ctrl.authorizedAccesses"
              entry-click="$ctrl.unauthorizeAccess"
              empty-dataset-message="No authorized user or team"
            ></access-table>
          </div>
        </div>
        <!-- !associated-endpoints -->
      </div>
    </form>
  </rd-widget-body>
</rd-widget>
