<form class="form-horizontal" style="margin-top: 15px;">
  <div class="form-group">
    <div class="col-sm-12 small text-muted">
      默认情况下，秘钥的存储位置在容器的<code>/run/secrets/$SECRET_NAME</code> 这个位置下.
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12" style="margin-top: 5px;">
      <label class="control-label text-left">秘钥</label>
      <span class="label label-default interactive" style="margin-left: 10px;" ng-click="addSecret()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> 增加秘钥
      </span>
    </div>
    <div class="col-sm-12 form-inline" style="margin-top: 10px;">
      <div ng-repeat="secret in formValues.Secrets track by $index" style="margin-top: 4px;">
        <div class="input-group col-sm-4 input-group-sm">
          <span class="input-group-addon">秘钥</span>
          <select class="form-control" ng-model="secret.model" ng-options="secret.Name for secret in availableSecrets">
            <option value="" selected="selected">选择秘钥</option>
          </select>
        </div>
        <div class="input-group col-sm-4 input-group-sm" ng-if="applicationState.endpoint.apiVersion >= 1.30 && secret.overrideTarget">
          <span class="input-group-addon">目标</span>
          <input class="form-control" ng-model="secret.target" placeholder="/path/in/container">
        </div>
        <div class="input-group col-sm-3 input-group-sm">
          <div class="btn-group btn-group-sm" ng-if="applicationState.endpoint.apiVersion >= 1.30">
            <label class="btn btn-primary" ng-model="secret.overrideTarget" uib-btn-radio="false">默认位置</label>
            <label class="btn btn-primary" ng-model="secret.overrideTarget" uib-btn-radio="true">重写</label>
          </div>
          <button class="btn btn-sm btn-danger" type="button" ng-click="removeSecret($index)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
