<div ng-if="service.ServiceMounts" id="service-mounts">
  <rd-widget>
    <rd-widget-header icon="fa-tasks" title="Mounts">
      <div class="nopadding">
        <a class="btn btn-default btn-sm pull-right" ng-click="isUpdating ||addMount(service)" ng-disabled="isUpdating">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> 挂载卷
        </a>
      </div>
    </rd-widget-header>
    <rd-widget-body ng-if="service.ServiceMounts.length === 0">
      <p>这个服务没有挂载卷。</p>
    </rd-widget-body>
    <rd-widget-body ng-if="service.ServiceMounts.length > 0" classes="no-padding">
      <table class="table" >
        <thead>
          <tr>
            <th ng-if="isAdmin || allowBindMounts">类型</th>
            <th>源</th>
            <th>目标</th>
            <th>只读</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="mount in service.ServiceMounts">
            <td ng-if="isAdmin || allowBindMounts">
              <select name="mountType" class="form-control" ng-model="mount.Type" ng-disabled="isUpdating">
                <option value="volume">挂载卷(Volume)</option>
                <option value="bind">绑定(Bind)</option>
              </select>
            </td>
            <td>
              <select class="form-control" ng-model="mount.Source" ng-options="vol.Id|truncate:30 as vol.Id for vol in availableVolumes" ng-if="mount.Type === 'volume'">
                <option selected disabled hidden value="">选择一个挂载卷</option>
              </select>
              <input type="text" class="form-control" ng-model="mount.Source" placeholder="e.g. /tmp/portainer/data" ng-change="updateMount(service, mount)" ng-disabled="isUpdating || (!isAdmin && !allowBindMounts && mount.Type === 'bind')" ng-if="mount.Type === 'bind'">
            </td>
            <td>
              <input type="text" class="form-control" ng-model="mount.Target" placeholder="e.g. /tmp/portainer/data" ng-change="updateMount(service, mount)" ng-disabled="isUpdating">
            </td>
            <td>
              <input type="checkbox" class="form-control" ng-model="mount.ReadOnly" ng-change="updateMount(service, mount)" ng-disabled="isUpdating">
            </td>
            <td>
              <span class="input-group-btn">
                <button class="btn btn-sm btn-danger" type="button" ng-click="removeMount(service, $index)" ng-disabled="isUpdating">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </rd-widget-body>
    <rd-widget-footer>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary btn-sm" ng-disabled="!hasChanges(service, ['ServiceMounts'])" ng-click="updateService(service)">应用更改</button>
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="cancelChanges(service, ['ServiceMounts'])">重置更改</a></li>
            <li><a ng-click="cancelChanges(service)">重置所有更改</a></li>
          </ul>
        </div>
      </div>
    </rd-widget-footer>
  </rd-widget>
</div>
